.panel__confirmation-wrapper {
    display: flex;
    height: fit-content;
    gap: 4px;
}

.panel__confirmation-wrapper_total {
    width: 209px;
}

@media screen and (max-width: 720px) {
    .panel__confirmation-wrapper {
        display: flex;
    }

    .panel__confirmation-wrapper_total {
        width: 100%;
    }
}

@media screen and (min-width: 1400px) {
    .panel__confirmation-wrapper_total {
        width: 335px;
    }
}