.card {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {
    .card {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 13px;
    }
}

@media screen and (max-width: 720px) {
    .card:first-child {
        border: none;
    }
}