.card__price-new {
    margin: 0;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.4px; 
}

.card__price-new_small {
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
}