.header__tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    background: #FFF;
    padding: 14px 13px;
    display: flex;
    justify-content: space-between;
    gap: auto;
}

@media screen and (min-width: 720px) {
    .header__tabbar {
        display: none;
    }
} 