.panel__confirmation {
    display: flex;
    gap: 8px;
    margin-top: 17px;
}

.panel__confirmation_total {
    margin-top: 0;
    padding: 6px 8px 12px;
    border-radius: 8px;
    background-color: #F6F6FA;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .panel__confirmation {
        margin: 15px 8px 0;
    }

    .panel__confirmation_total {
        margin: 0;
        padding-top: 9px;
    }
}