.popup__tab-content {
    display: none;
    flex-direction: column;
    gap: 8px;
    min-height: 207px;
}

.popup__tab-content_active {
    display: flex;
}

@media screen and (max-width: 720px) {
    .popup__tab-content {
        padding: 0 14px;
        min-height: 282px;
    }
} 