.card__counter {
    display: flex;
    width: 100px;
    height: 44px;
    background-color: #FFF;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

@media screen and (max-width: 720px) {
    .card__counter {
        width: 80px;
        height: 32px;
        border-radius: 4px;
    }
}