.panel__subtext {
    margin: 0;
    margin-top: 2px;
    gap: 4px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.panel__subtext_active {
    color: #0CB477;
    border-bottom: 1px dashed;
    cursor: pointer;
}

.panel__subtext_gray {
    color: #A0A0A4;
}

@media screen and (max-width: 720px) {
    .panel__subtext {
        margin-top: 0;
        max-width: 242px;
    }
}