.panel {
    padding: 16px 24px 20px;
    margin-top: 30px;
    background-color: #FFF;
    border-radius: 16px;
}

@media screen and (max-width: 720px) {
    .panel {
        padding: 16px 16px 22px;
        margin-top: 20px;
    }
}