.main__container {
    display: flex;
    padding: 22px 24px 54px 24px;
    gap: 32px;
}

@media screen and (max-width: 720px) {
    .main__container {
        margin: 0;
        padding: 0;
        flex-direction: column;
        gap: 0px;
    }
}