.floater {
    position: absolute;
    top: -15%;
    right: -10%;
    min-width: 8px;
    padding: 0 4px;
    border-radius: 16px;
    background-color: #F55123;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; 
}

.floater_cart {
    top: -10%;
    right: 10%;
}

.floater_cart_small {
    top: -20%;
    right: -20%;
    padding: 0 2px;
}