.form__input {
    width: 100%;
    padding: 0;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.form__input_active {
    color: #F55123;
}

.form__input:focus {
    outline: none;
}